<%- include('header');%>

<% if(!clients.length){ %>
    <b>pas de clients</b>
    <br>
<% } else { %>
    <b><%=nbClients%> client(s)</b>
    <table>
    <% clients.forEach(function (client){ %>
        <tr>
            <td width=30><%=client.id %></td>
            <td width=100><%=client.nom %></td>
            <td width=100><%=client.prenom %></td>
            <td width=100><%=client.entreprise %></td>
            <td>
                <form style="display:inline" action="/clients/<%= client.id %>">
                <input type="submit" value="Voir"/>    
                </form>
            </td>
            <td>
                <form style="display:inline" action="/clients/<%=client.id%>/edit">
                <input type="submit" value="Modifier"/>    
                </form>
            </td>
            <td>
                <form style="display:inline" action="/clients/<%=client.id%>" method="post">
                <input type="submit" value="Supprimer"/>    
                <input type="hidden" name="_method" value="delete"/>    
                </form>
            </td>
        </tr>
        <% }); %>    
    </table>    
    <% } %>
    <form action="/clients/new">
        <input type="submit" value="Créer un nouveau client"/>
    </form>
    <%- include('footer'); %>